## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import map_key

# Configure gmaps
gmaps.configure(api_key=map_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Sinnamary,GF,77.25,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
1,3,Hithadhoo,MV,82.89,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,7,Mumford,GH,78.21,overcast clouds,5.2618,-0.7590,Spanish Villa
3,8,Rikitea,PF,78.57,clear sky,-23.1203,-134.9692,People ThankYou
4,15,Mitsamiouli,KM,80.83,few clouds,-11.3847,43.2844,Foyer ADM

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Bowen']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Bowen']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Cairns']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Palmerston'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Charters Towers']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
#end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
#stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
#stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
#stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([-20.0167, 148.2333], dtype=object)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#fig = gmaps.figure()
#vacation_driving_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
#fig.add_layer(vacation_driving_trip)
#fig

fig = gmaps.figure(center=(-18, 150), zoom_level = 7)
bowen = start
cairns = stop1
palmerston = stop2
charters_towers = stop3 
roadtrip = gmaps.directions_layer(bowen, bowen, 
                                  waypoints=[cairns, palmerston, charters_towers],
                                  travel_mode="DRIVING")

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,147,Bowen,AU,76.41,clear sky,-20.0167,148.2333,Castle Motor Lodge Motel
1,440,Cairns,AU,82.06,broken clouds,-16.9167,145.7667,Mantra Trilogy Cairns
2,489,Palmerston,AU,82.89,few clouds,-12.4860,130.9833,Quest Palmerston - Serviced Apartments and Acc...
3,394,Charters Towers,AU,75.07,clear sky,-20.1000,146.2667,Cattleman's Rest Motor Inn
4,147,Bowen,AU,76.41,clear sky,-20.0167,148.2333,Castle Motor Lodge Motel

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))